* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    
}
body {
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.2;
    background-color: #fbfbfb;
    color: #0f0f0f;

}
ul {
    list-style: none;

}
a {
    text-decoration: none;
    color:inherit;
}

h1 {
    font-size: 36px;
    text-align: center;
}
h2 {
    font-size: 28px;
}
p {
    margin: 16px 0;
    justify-self: start;
}

img {
    max-width: 100%;
}

header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 16px;
    height: 90px;
    width: 100%;
    background-color: #fbfbfb;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 3px 10px -5px #5f5f5f;

}
.logo {
    width: 90px;

}
ul#menu {
    display: flex;
    font-size: 20px;

}

li.menu-info a {
    padding: 16px;
    display:inline-block;
}


main {
    max-width: 1200px;
    margin: auto;

}
section {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    min-height: 100vh;
    padding-top: 120px;
    
}
section#inicio {
    justify-content: space-around;

}
figure.presentacion-imag {
    margin-bottom: 20px;

}
figure.presentacion-img img {
    border-radius:50%;
    width: 400px;

}
article.presentacion {
    width: 100%;
    text-align: center;


}
a.btn {
    background-color: #af599e;
    color: #fbfbfb;
    padding: 12px 20px;
    border-radius: 50px;
    font-size: 20px;
    display:inline-block;
    

   
}
section#contact p {
    text-align: center;

}
article.hablemos {
    background: rgba(175,89,158,0.3);
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
}
 ul#contact-links {
    display: flex;
    margin-top: 20px;

 }
 ul#contact-links li {
    margin: 16px;
    padding: 8px;
    border-radius: 4px;

 }
 img.icon {
    width: 80px;

 }
 footer {
    height: 90px; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #af599e;
    color: #fbfbfb;

 }

   





    
    



























